/*Colors*/
.blue-background {
    background-color: #002A38;
    min-height: 23vh;
}

.offwhite-background {
    background-color:#F7F7F5;
}

.white-background {
    background-color: white;
}


/*Headings*/

.section-heading {
    font-family: "Roboto", sans-serif; 
    font-size: 40px;
    letter-spacing: 0.1rem;
    color: #895536;
}

h1 {
    font-family: "Roboto", sans-serif; 
    color: #895536;
    font-size: 17px;
    letter-spacing: 0.1em;
}


.welcome-heading {
    font-size: 40px;
}

p {
    font-family: "Roboto light", sans-serif; 
    color: black;
    font-size: 16px;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;  
    color:white;
    font-size: 15px;
    letter-spacing: 0.1em;
} 

h3 {
    font-family: "Roboto", sans-serif;  
    color:#895536;
    font-size: 20px;
    letter-spacing: 0.1em;
}

body {
    font-family: 'Roboto Light', sans-serif;
}

.footer-text {
    font-family: 'Roboto Light', sans-serif;
}

.text-color-cognac {
    color: #895536;
}

.text-color-white {
    color: white;
}

.btn-primary {
    background-color: #895536;
    border-color: #895536;
}
    
.btn-primary-green{
    background-color: #048664;
    border-color: #048664;
    color: white;
}


/*Navigation*/

.navbar-custom {
     background-color: #002A38;
}

.company-name {
    font-family: "Roboto Light", sans-serif; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-nav {
    font-family: "Roboto Light", sans-serif; 
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/*First page*/

.hero-image {
    background: url("../images/kugghjul_mobil.jpg") no-repeat center center;  
    width: 100%;
    height: 60vh;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002A38;
    opacity: 0.9;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-out-heading {
    color:white;
    font-family: "Roboto Light", sans-serif; 
    font-size: 30px;
    letter-spacing: 0.1em;
}

.teaser-heading-container {
    height: 24vh;
}

.btn-outline-primary {
    color:#895536;
    border-color:#895536;
}

/*Products & services*/

.icon-styling {
    font-size: 50px;
    color: #002A38;
}

.products-services-icon-background {
    background-color: #002A38;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


/*Contact & visit*/

.contact-information {
    background-color: #895536;
    width: 65%;
    height: 320px;
}


.visit-information {
    background-color: #002A38;
    width: 65%;
    height: 425px;
}

.visit-image-section {
    margin-top: -4%;
}

.cwfkp-info {
    border-style: dotted;
    border-color: #048664; 
    border-width: 5px;
}

/*E-learning | benefits*/
.block-divider {
    width: 200px;
    height: 2px;
    border: 0;
    background-color: #895536;
}

.icon-styling-benefits-elearning {
    font-size: 70px;
    color: #895536;
}

/*Footer*/

.social-links i {
    font-size: 27px;
    color: #0A66C2;
    background-color: white;
    border-radius: 0%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color: #895536;
}


/*Media queries*/

@media only screen and (min-width:320px) {
    .block-divider {
        width: 230px;
    }

    h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:320px) {
    .block-divider {
        width: 265px;
    }

    h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:375px) {
    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 18px;
    }

    .block-divider {
        width: 275px;
    }
}

@media only screen and (min-width:768px) {
    .hero-image {
        background: url("../images/kugghjul_xl.jpg") no-repeat center center;  
        width: 100%;
        height: 70vh;
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
    }

    .call-out-heading {
        color:white;
        font-family: "Roboto Light", sans-serif; 
        font-size: 60px;
        letter-spacing: 0.1em;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 24px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 18px;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 15vh;
    }

}

@media only screen and (min-width:992px) {
    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}





@media only screen and (device-width: 280px)
    and (device-height: 653px) {
    .call-out-heading {
        font-size: 22px;  
    }

    .hero-image {
        height: 50vh;
    }

    p {
        font-size: 14px;
    }

}

@media only screen and (device-width: 653px)
    and (device-height: 280px) {
    .hero-image {
        height: 81vh;
    }

    .teaser-heading-container {
        height: 50vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

}

@media only screen and (device-width: 320px)
    and (device-height: 568px) {
    .call-out-heading {
        font-size: 26px;  
    }

    .hero-image {
        height: 56vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

    .block-divider {
        width: 235px;
    }

}

@media only screen and (device-width: 568px)
    and (device-height: 320px) {

    .hero-image {
        height: 49vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 15px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 15px;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

}

@media only screen and (device-width: 360px)
    and (device-height: 640px) {
    .hero-image {
        height: 65vh;
    }

    .teaser-heading-container {
        height: 27vh;
    }
}

@media only screen and (device-width: 640px)
    and (device-height: 360px) {
    .hero-image {
        height: 52vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
  
}


@media only screen and (device-width: 375px)
    and (device-height: 667px) {
        .hero-image {
            height: 65vh;
        }
    
        .teaser-heading-container {
            height: 27vh;
        }
    
}

@media only screen and (device-width: 667px)
    and (device-height: 375px) {
    .hero-image {
        height: 52vh;
    }
    
    .teaser-heading-container {
        height: 34vh;
    }

    .call-out-heading {
        font-size: 40px;  
    }

    p {
        font-size: 16px;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 40vh;
    }
}


@media only screen and (device-width: 375px)
    and (device-height: 812px) {

    .hero-image {
        height: 66vh;
    }

    .teaser-heading-container {
        height: 28vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 22px;
        letter-spacing: 0.1em;
    }

}



@media only screen and (device-width: 812px)
    and (device-height: 375px) {

    .call-out-heading {
        font-size: 40px;  
    }

    .hero-image {
        height: 53vh;
    }

    .teaser-heading-container {
        height: 33vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 22px;
        letter-spacing: 0.1em;
    }

}

@media only screen and (device-width: 411px)
    and (device-height: 731px) {
    .hero-image {
        height: 65vh;
    }

    .call-out-heading {
        font-size: 40px;  
        }

    .teaser-heading-container {
        height: 29vh;
    }

   
    .block-divider {
        width: 300px;
    }
    
}

@media only screen and (device-width: 731px)
    and (device-height: 411px) {
    .hero-image {
        height: 58vh;
    }

    .teaser-heading-container {
        height: 29vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 38vh;
    }
}

@media only screen and (device-width: 411px)
    and (device-height: 823px) {
        .block-divider {
            width: 300px;
        }

    }

@media only screen and (device-width: 414px)
    and (device-height: 736px) {
    .hero-image {
        height: 64vh;
    }

    .teaser-heading-container {
        height: 29vh;
    }

    .block-divider {
        width: 313px;
    }
}

@media only screen and (device-width: 736px)
    and (device-height: 414px) {
    .hero-image {
        height: 59vh;
    }

    .call-out-heading {
        font-size: 45px;  
    }

    .teaser-heading-container {
        height: 29vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 38vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 22px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}

@media only screen and (device-width: 411px)
    and (device-height: 823px) {
    .hero-image {
        height: 64vh;
    }

    .teaser-heading-container {
        height: 30vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 22px;
        letter-spacing: 0.1em;
    }
}

@media only screen and (device-width: 823px)
    and (device-height: 411px) {

    .call-out-heading {
        font-size: 35px;  
        }

    .hero-image {
        height: 57vh;
    }

    .teaser-heading-container {
        height: 30vh;
    }
}

@media only screen and (device-width: 540px)
    and (device-height: 720px) {

    .hero-image {
        height: 70vh;
    }

    .block-divider {
        width: 415px;
    }

    .teaser-heading-container {
        height: 23vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    p {
        font-size: 16px;
    }
}

@media only screen and (device-width: 720px)
    and (device-height: 540px) {

    .hero-image {
        height: 67vh;
    }

    .teaser-heading-container {
        height: 23vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 35vh;
    }
}

@media only screen and (device-width: 768px)
    and (device-height: 1024px) {

    .call-out-heading {
        font-size: 60px;  
    }

    .hero-image {
        height: 70vh;
    }

    .teaser-heading-container {
        height: 25vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 28px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 22px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 24px;
    }

    .block-divider {
        width: 600px;
    }

}

@media only screen and (device-width: 1024px)
    and (device-height: 768px) {
    
        .hero-image {
            height: 70vh;
        }
    
        .teaser-heading-container {
            height: 23vh;
        }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 26px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 22px;
    }

}

@media only screen and (device-width: 1024px)
    and (device-height: 1366px) {

    .call-out-heading {
        font-size: 75px;  
    }

    .hero-image {
        height: 75vh;
    }

    .teaser-heading-container {
        height: 22vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 30px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 26px;
    }


}

@media only screen and (device-width: 1366px)
    and (device-height: 1024px) {

    .call-out-heading {
        font-size: 75px;  
    }

    .hero-image {
        height: 70vh;
    }

    .teaser-heading-container {
        height: 25vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 28px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 22px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 24px;
    }


}