/*Colors*/
.blue-background {
    background-color: #002A38;
    min-height: 23vh;
}

/*Headings*/

.section-heading {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: gray;
}

h1 {
    font-family: "Roboto", sans-serif; 
    color: #895536;
    font-size: 17px;
    letter-spacing: 0.1em;
}

p {
    font-family: "Roboto light", sans-serif; 
    color: black;
    font-size: 16px;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;  
    color:white;
    font-size: 15px;
    letter-spacing: 0.1em;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grey-text {
    color: gray;
}

/*Navigation*/

.navbar-custom {
     background-color: #002A38;
}

.company-name {
    font-family: "Roboto Light", sans-serif; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-nav {
    font-family: "Roboto Light", sans-serif; 
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/*First page*/

.hero-image {
    background: url("../images/kugghjul_mobil.jpg") no-repeat center center;  
    width: 100%;
    height: 60vh;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002A38;
    opacity: 0.9;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-out-heading {
    color:white;
    font-family: "Roboto Light", sans-serif; 
    font-size: 30px;
    letter-spacing: 0.1em;
}

.teaser-heading-container {
    height: 24vh;
}

.btn-outline-primary {
    color:#895536;
    border-color:#895536;
}


/*Media queries*/

@media only screen and (min-width:768px) {
    .hero-image {
        background: url("../images/kugghjul_xl.jpg") no-repeat center center;  
        width: 100%;
        height: 70vh;
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
    }

    .call-out-heading {
        color:white;
        font-family: "Roboto Light", sans-serif; 
        font-size: 60px;
        letter-spacing: 0.1em;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 24px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 18px;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 15vh;
    }

}

@media only screen and (min-width:992px) {
    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}

@media only screen and (min-width:375px) {
    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (device-width: 280px)
    and (device-height: 653px) {
    .call-out-heading {
        font-size: 22px;  
    }

    .hero-image {
        height: 50vh;
    }

    p {
        font-size: 14px;
    }

}

@media only screen and (device-width: 653px)
    and (device-height: 280px) {
    .hero-image {
        height: 81vh;
    }

    .teaser-heading-container {
        height: 50vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

}

@media only screen and (device-width: 320px)
    and (device-height: 568px) {
    .call-out-heading {
        font-size: 26px;  
    }

    .hero-image {
        height: 56vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

}

@media only screen and (device-width: 568px)
    and (device-height: 320px) {

    .hero-image {
        height: 49vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 15px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 15px;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

}

@media only screen and (device-width: 360px)
    and (device-height: 640px) {
    .hero-image {
        height: 65vh;
    }

    .teaser-heading-container {
        height: 27vh;
    }
}

@media only screen and (device-width: 411px)
    and (device-height: 731px) {
    .hero-image {
        height: 65vh;
    }

    .teaser-heading-container {
        height: 29vh;
    }
}

@media only screen and (device-width: 731px)
    and (device-height: 411px) {
    .hero-image {
        height: 58vh;
    }

    .teaser-heading-container {
        height: 29vh;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 38vh;
    }
}

@media only screen and (device-width: 411px)
    and (device-height: 823px) {
    .hero-image {
        height: 64vh;
    }

    .teaser-heading-container {
        height: 30vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 22px;
        letter-spacing: 0.1em;
    }
}

@media only screen and (device-width: 823px)
    and (device-height: 411px) {

    .call-out-heading {
        font-size: 35px;  
        }

    .hero-image {
        height: 57vh;
    }

    .teaser-heading-container {
        height: 30vh;
    }
}


@media only screen and (device-width: 640px)
    and (device-height: 360px) {
    .hero-image {
        height: 52vh;
    }

    .teaser-heading-container {
        height: 35vh;
    }

    h1 {
        font-family: "Roboto", sans-serif; 
        color: #895536;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .blue-background {
        background-color: #002A38;
        min-height: 45vh;
    }

    h2 {
        font-family: "Roboto Condensed", sans-serif;  
        color:white;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
  
}

@media only screen and (device-width: 667px)
    and (device-height: 375px) {

    .call-out-heading {
        font-size: 40px;  
    }
}

@media only screen and (device-width: 731px)
    and (device-height: 411px) {

    .call-out-heading {
        font-size: 40px;  
        }

}

@media only screen and (device-width: 736px)
    and (device-height: 414px) {

    .call-out-heading {
        font-size: 45px;  
    }
    }

@media only screen and (device-width: 812px)
    and (device-height: 375px) {

    .call-out-heading {
        font-size: 40px;  
    }

    .hero-image {
        height: 60vh;
    }

}


@media only screen and (device-width: 1366px)
    and (device-height: 1024px) {

    .call-out-heading {
        font-size: 75px;  
    }

}